= form_for @featured_project do |f|
  -if @featured_project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@featured_project.errors.count, "error")} prohibited this featured_project from being saved:"
      %ul
        - @featured_project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
  .images    
  = image_tag(@featured_project.picture_url) if @featured_project.picture?
  = f.file_field :picture
  Remove picture  
  = f.check_box :remove_picture

