%h1 Listing featured_projects

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @featured_projects.each do |featured_project|
    %tr
      %td= featured_project.title
      %td= image_tag featured_project.picture_url if featured_project.picture?
      %td= featured_project.description
      %td= link_to 'Show', featured_project
      %td= link_to 'Edit', edit_featured_project_path(featured_project)
      %td= link_to 'Destroy', featured_project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Featured project', new_featured_project_path
