%p#notice= notice

%p
  %b Title:
  = @featured_project.title
%p
  %b Description:
  = @featured_project.description

= link_to 'Edit', edit_featured_project_path(@featured_project)
\|
= link_to 'Back', featured_projects_path
