= form_for @message, :html => { :id => 'contact-form'} do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  .row
    .five.columns
      .text-field
        = f.text_field :name, :placeholder => "Your name"
    .five.columns
      .text-field
        = f.email_field :email, :placeholder => "Email address"
  .row
    .twelve.columns
      .long-field
        = f.text_area :text, :placeholder => "Tell us about your project or send us a simple hello..."
      .link
        %a.btn.blue.center.top-margin-small.submit-link{:href => '#'}
          ="Let's get started".html_safe
:javascript
$(document).ready(function() {
  $(".submit-link").click(function (e) {
      e.preventDefault();
      if (validate_contact()==1) $("#contact-form").submit();
    });
})