= form_for @message, :html => { :id => 'contact-form'} do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  .row.name
    .six.columns
      .text-field
        = f.label :name
        = f.text_field :name
    .six.columns
      .field-comment.hidden
        .arrow-left
        .text Tell me your name, sir
        
  .row.email
    .six.columns
      .text-field
        = f.label :email
        = f.email_field :email
    .six.columns
      .field-comment.hidden
        .arrow-left
        .text We cant go without your email
  .row
    .twelve.columns      
      .long-field
        = f.label :text
        = f.text_area :text
      .link
        %a.a-button.darkblue.submit-link{:href => '#'}
          ='Send mail'.html_safe
:javascript
$(document).ready(function() {
  $(".submit-link").click(function (e) {
      e.preventDefault();
      console.log("submit-link clicked!");
      if (validate_contact()==1) $("#contact-form").submit();
    });
})