= form_for @message, :html => { :id => 'contact-form'} do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "Uh-oh, looks like there's some information missing. Please check and make sure all the fields are filled out."
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :name, :placeholder => "Your name"
  = f.email_field :email, :placeholder => "Email address"
  = f.text_area :text, :placeholder => "Tell us about your project or send us a simple hello..."
  = f.submit :id => "contact-us-form", :class => "btn",  :value => "Let's get started"
