= form_for @message, :html => { :id => 'quote-form'} do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .quote-slide.slide1.active
    .row.name
      .six.columns
        .text-field
          = f.label :name
          = f.text_field :name
      .six.columns
        .field-comment.hidden
          .arrow-left
          .text Tell me your name, sir!

    .row.email
      .six.columns
        .text-field
          = f.label :email
          = f.email_field :email
      .six.columns
        .field-comment.hidden
          .arrow-left
          .text We can't go without your email!

    .row
      .twelve.columns
        .field
          = f.label :company_name
          = f.text_field :company_name
        .field
          = f.label :country
          = f.text_field :country
        .field
          = f.label :phone
          = f.text_field :phone
        .link
          %a.a-button.darkblue.next-link.next{:href => '#', "data-slide" => '2'}
            ='Next →'.html_safe

  .quote-slide.slide2
    .field
      = f.label :project_description
      = f.text_area :project_description
    .field
      = f.label :deadline
      = f.text_field :deadline
    .link
      %a.a-button.darkblue.next-link{:href => '#', "data-slide" => '1'}
        ='← Back'.html_safe
      %a.a-button.darkblue.next-link.next{:href => '#', "data-slide" => '3'}
        ='Next → <div class="arrow"></div>'.html_safe

  .quote-slide.slide3
    .field
      = f.label :budget
      = f.text_field :budget
    .field
      = f.label :comment
      = f.text_area :comment
    .link
      %a.a-button.darkblue.next-link{:href => '#', "data-slide" => '2'}
        ='← Back'.html_safe
      %a.a-button.darkblue.quote-submit-link{:href => '#'}
        ='Submit <div class="arrow"></div>'.html_safe
:javascript
$(document).ready(function() {
  $(".quote-submit-link").click(function (e) {
      e.preventDefault();
      if (validate_quote() == 1) $("#quote-form").submit();
    });
    $('#message_name').focus().prev().addClass('whiteText');
    
    $(".next-link").click(function (e) {
      e.preventDefault();
      var currentSlide = extractSlideNum($('.quote-slide.active').attr('class'));
      var nextSlide = parseInt($(this).attr("data-slide"),10);
      findSlideWithNumber(currentSlide).fadeOut(function() {
        //$(".quote-slide").hide();
        $('.quote-slide.active').removeClass('active');
        findSlideWithNumber(nextSlide).fadeIn(function() {
          $(".slide" + nextSlide).addClass('active');
          currentSlide = nextSlide;
        });
      });
    });

    $('label').next().focus(function(e) {
      $(this).prev().addClass('whiteText');
    });
    $('label').next().blur(function(e) {
      if ($(this).prev().hasClass('whiteText')) {
        $(this).prev().removeClass('whiteText');
        return;
      } else {
        $(this).prev().css("color","#004264");
      }
    });

    function findSlideWithNumber(num) {
      return $('.slide'+num);
    }

    function extractSlideNum(slideClasses) {
      var slidePos = slideClasses.search(/ slide/gi) + 6;
      return parseInt(slideClasses.slice(slidePos,slidePos+1));
    }
});