%h1 Listing messages

%table
  %tr
    %th Name
    %th Email
    %th Text
    %th Company name
    %th Country
    %th Phone
    %th Project description
    %th Deadline
    %th Budget
    %th Comment
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.name
      %td= message.email
      %td= message.text
      %td= message.company_name
      %td= message.country
      %td= message.phone
      %td= message.project_description
      %td= message.deadline
      %td= message.budget
      %td= message.comment
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Message', new_message_path
