.project_quotes
  - project.quotes.each do |q|
    %blockquote
      %p=q.text
      %footer
        =q.author

  - if admin_signed_in?
    - if project.id 
      .panel.callout
        %h2 Client Quotes
        = form_for project.quotes.build, :remote => true do |qf|
          = qf.hidden_field :project_id, :value => "#{project.id}"
          = qf.text_field :text, placeholder: 'Quote'
          = qf.text_field :author, placeholder: 'Author'
          = qf.submit 'Add'
    - else
      Save First!

