%p#notice= notice

%p
  %b Action:
  = @content.action
%p
  %b Index:
  = @content.welcome
%p
  %b Value:
  = @content.value

= link_to 'Edit', edit_content_path(@content)
\|
= link_to 'Back', contents_path
