%section.primary

  - if !@open_jobs.empty?
    %h2 We're Hiring!
    %br
    %h3 Open Positions
    - @open_jobs.each do |job|
      - if admin_signed_in? || job.published?
        = link_to job.title, job
      - if admin_signed_in?
        .job-admin
          = render :partial => "publish_controls", :locals => {:job => job}
      %br
      %br

  - else
    %h3 Interested in working at Coshx?
    Shoot us an email showing what you're interested in, what you've accomplished, and why you want to join our team.
    = link_to "jobs@coshx.com", "mailto:jobs@coshx.com"

  %br
  %hr
  %br
  - if !@filled_jobs.empty?
    %h3 Filled positions
    - @filled_jobs.each do |job|
      - if admin_signed_in? || job.published?
        = link_to job.title, job
        -if job.blog_url
          %br
          =link_to job.blog_url, url_with_protocol(job.blog_url)
      - if admin_signed_in?
        .job-admin
          = render :partial => "publish_controls", :locals => {:job => job}
      %br
      %br