%h1 Listing clients

%table
  %tr
    %th Name
    %th Company logo
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.company_logo
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :data => {:confirm => 'Are you sure?'}, :method => :delete

%br

= link_to 'New Client', new_client_path
