.modal.permalink.hide.fade{'class' => employee.slug, 'id' => employee.slug, "tabindex" => "-1", "data-keyboard" => "true"}
  .modal-header.employee-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    = image_tag Gravatar.new(employee.email).image_url(:size => 80), class: 'about-us-avatar', alt: employee.name
    .employee-info
      %h3.capitalize
        = employee.name
      %h5
        = employee.position
      %ul#social-media
        -if employee.github
          %li.github
            %a{:href => "http://github.com/#{employee.github}", :target => "_blank"} Github
        -if employee.linked_in
          %li.linked_in
            %a{:href => employee.linked_in, :target => "_blank"} LinkedIn
        -if employee.twitter
          %li.twitter
            %a{:href => "http://twitter.com/#{employee.twitter}", :target => "_blank"} Twitter
  .modal-body
    %p.bio
      =employee.bio
