.row
  .six.columns.push-six
    -if Coshx::Application.assets.find_asset("team/#{folk.slug}.png").nil?
      =image_tag("team/no_pic.png")
    -else
      =image_tag("team/#{folk.slug}.png")

  .six.columns.pull-six
    .content
      = ceditable "nickname of " + folk.name, "div", :class => "folk_header"
      %h1=folk.name
      %p.folk_bio=folk.bio.html_safe

.folk_wrap
  .twitter_and_github
    -if folk.github
      %a.github{:href => "http://github.com/#{folk.github}"}=folk.github
    -if folk.twitter
      %a.twitter_link{:href => "http://twitter.com/#{folk.twitter}"}=folk.twitter
  -if folk.likes
    .folk_header LIKES
    %span=folk.likes
  -if folk.dislikes
    .folk_header DISLIKES
    %span=folk.dislikes





