%div#slider
  %div.slide.first-slide
    #blueprint-wrapper
      = link_to "", "#", :class => :point1
      = link_to "", "#", :class => :point2
      = link_to "", "#", :class => :point3
      = link_to "", "#", :class => :point4
      = image_tag "blueprint.png"
    = ceditable "slide1 title", "h1"
    = ceditable "slide1 description", "p"

    .divider

    = link_to "/services", :class => "the-button" do
      Read About How We Craft Software

  %div.slide.second-slide
    .displays
      = image_tag "slider_two.png"
    = ceditable "slide2 title", "h1"
    = ceditable "slide2 description", "p"

    .divider

    = link_to "/services", :class => "the-button" do
      Read About How We Craft Software

  %div.slide.third-slide
    .displays
      = image_tag "slider_three.png"
    = ceditable "slide3 title", "h1"
    = ceditable "slide3 description", "p"

    .divider

    = link_to "/services", :class => "the-button" do
      Read About How We Craft Software

%script(type="text/javascript")
  = render :partial => "home/slider.js", :locals => {:slider_id => "slider"}
