= link_to(image_tag(Gravatar.new(person.email).image_url(:size => 80), class: 'about-us-avatar'),
                    "#", {"data-target" => ".#{person.slug}", "data-toggle" => "modal"})
#member-info
  %h7
    = link_to(person.name, "#", {"data-target" => ".#{person.slug}", "data-toggle" => "modal"})
    - if !person.alumni?
      = render partial: "employee", locals: {employee: person}
  %br
  %h8 
    = person.position
