%section#about-us
  %h1.formula About Us
  %p We're a distributed team of people passionate about software. Here's a little more about each of us.

  #about-stats.row
    %ul.team
      %li.coffee
        %img{:alt => "", :src => "/assets/coffee.png"}
        %h3 Coffee consumed
        %h2 1,978
        %p cups this year
      %li.tracks
        %img{:alt => "", :src => "/assets/headphones.png"}
        %h3 Tracks played
        %h2 3,645
        %p
          %a.html{:href => "http://turntable.fm/salad_labs"} http://turntable.fm/salad_labs
      %li.food
        %img{:alt => "", :src => "/assets/food.png"}
        %h3 Favorite food
        %h2 39
        %p Thai-food orders this year

    %ul.social
      %li.git
        %h3
          Github:
          %br
          Code committed in KB
        %h2 8,124,305
      %li.rails
        %h3
          Ruby on rails:
          %br
          Experience in days
        %h2 30,456
      %li.tweets
        %h3
          Twitter:
          %br
          Total tweets
        %h2 542
      %li.blog
        %h3
          Blog:
          %br
          Total number
        %h2 #{Post.all.count}
      %li.lunch
        %h3
          Techlunch:
          %a.techlunch{:href => "#"}>
            =image_tag("circle-add.png", :mouseover => "circle-add-white.png")
          %br
          Total number
        %h2 14
      %li.ideas
        %h3
          Ideas & creativity:
          %br
          Total number:
        =image_tag "formula.png"
    #about-us-arrow


  %section#team
    %ul
      - @coshx_folks.each_with_index do |person, i|
        %li
          %a{:href => "#"}
            .portrait

            %div(style="width:180px;height:180px;background:url(#{Gravatar.new(person.email).image_url(:size => 180)});border-radius:100px;")
            
            %p
              = person.name
      %li.last
        %a{:href => "#"} 
          .new
          = image_tag("team/new.png", :mouseover => "team/new-white.png")
          %p
            You?
    
  %section#testimonials.row
    %header.divider
      %h2 Testimonials
      = link_to " ", "/get_random_quote", :remote => true, :class => "test-nav next"
      = link_to " ", "/get_random_quote", :remote => true, :class => "test-nav prev"
    = render :partial => "quotes/random_quote", :locals => {:random_quote => random_quote}


