%section#about-us
  = ceditable "about page title", "h1", :class => "formula"
  = ceditable "about page text", "p"

  .about-stats.hide-for-small
    .row.big-icons
      .four.columns
        .coffee
          %img{:alt => "", :src => "/assets/coffee.png"}
          %h3 Coffee consumed
          %h2 1,978
          %p cups this year
      .four.columns
        .tracks.b
          %img{:alt => "", :src => "/assets/headphones.png"}
          %h3 Tracks played
          %h2 3,645
          %p
            %a{:href => "http://turntable.fm/salad_labs"} http://turntable.fm/salad_labs
      .four.columns
        .food.b
          %img{:alt => "", :src => "/assets/food.png"}
          %h3 Favorite food
          %h2 39
          %p Thai-food orders this year




    .row.small-icons
      .twelve.columns
        .git
          %h3
            Github:
            %br
            Code committed in KB
          %h2 8,124,305
        .rails.b
          %h3
            Ruby on rails:
            %br
            Experience in days
          %h2 30,456
        .tweets.b
          %h3
            Twitter:
            %br
            Total tweets
          %h2 542
        .blog.b
          %h3
            Blog:
            %br
            Total number
          %h2 #{Post.all.count}
        .lunch.b
          %h3
            Techlunch:
            %a.techlunch{:href => "#"}>
              =image_tag("circle-add.png", :mouseover => "circle-add-white.png")
            %br
            Total number
          %h2 14
        .ideas.b
          %h3
            Ideas & creativity:
            %br
            Total number:
          =image_tag "formula.png"

                    



%section#team
  %ul
    - @coshx_folks.each_with_index do |person, i|
      %li
        %a{:href => person.url, :class => 'about-us-avatar'}(style="background:url(#{Gravatar.new(person.email).image_url(:size => 180)});")
          
          %p
            = person.name
    %li.last
      %a{:href => '#', 'data-reveal-id' => 'jobs'}
        .new
        = image_tag("team/new.png", :mouseover => "team/new-white.png")
        %p
          You?
  
= render :partial => 'home/testimonials'


