#intro-wrapper
  = link_to "#", :id =>"slider-prev" do
    = image_tag "arrow-left.png"
  = link_to "#", :id =>"slider-next" do
    = image_tag "arrow-right.png"

  %section#blueprint-image
    %ul#slider-buttons
      %li.selected
      %li
      %li
      %li

    #blueprint-wrapper
      = link_to "", "#", :class => :point1
      = link_to "", "#", :class => :point2
      = link_to "", "#", :class => :point3
      = link_to "", "#", :class => :point4
      = image_tag "blueprint.png"

    %h1
      FROM IDEA TO EXECUTION
    %p
      Here at Coshx we take complex problems and turn them into simple solutions.
      %br/
      Our highly skilled team of programmers and designers will take your product to the next level.
      %br/
      We love sending those rockets to the moon - why not let us launch a rocket of a product for you?

    .divider

    = link_to "#", :class => "blue-arrow" do
      Read About How We Craft Software
      .arrow

.divider

%section#features
  %ul.divider
    %li
      = image_tag "people.png", :class => :people
      = render :partial => "coshx_blue_x", :locals => {:feature => "COMPANY"}
      %p Meet the team, find out why we're different - and why you should hire us to work your next website or other software project.
      = link_to about_path, :class => "blue-arrow" do
        About Us
        .arrow
    %li
      = image_tag "services.png", :class => :gears
      = render :partial => "coshx_blue_x", :locals => {:feature => "SERVICES"}
      %p Whether you're an established enterprise or a boostrapping startup, we want to work with you. Take a look at the services we offer.
      = link_to services_path, :class => "blue-arrow" do
        Our Services
        .arrow
    %li
      = image_tag "projects.png", :class => :beaker
      = render :partial => "coshx_blue_x", :locals => {:feature => "PROJECTS"}
      %p We've been fortunate enough to work on many great projects. Here's some highlights of the work we've done.
      = link_to portfolio_path, :class => "blue-arrow" do
        Our Projects
        .arrow

.divider

%section#contact-us
  = image_tag "mail.png"
  %h2 DON'T BE SHY, SAY HELLO

  %p Let's start up a conversation about what your needs are and how we can help. We're just a quick email away!

  -# Normally we'd use mail_to and not link_to for an email link, but this will eventually open a form, not be a mailto
  = link_to "mailto:info@coshx.com", :class => ["first", "blue-arrow"] do
    Contact Us
    .arrow

  = link_to "mailto:info@coshx.com?subject=Coshx%20Labs%20quote%20request", :class => "white-arrow" do
    Request a FREE Quote
    .arrow


%section#featured-projects
  %header.divider
    %h2 Featured Projects
    = link_to "#", :class => "blue-arrow" do
      See More Case Studies
      .arrow
  %ul.divider.portfolio-thumbs
    %li
      %img{:alt => "", :src => "/assets/random-project.png"}
        .overlay
          .link-wrapper
            %a.view{:href => "#"}
            .separator
            %a.case{:href => "#"}
    %li
      %img.even{:alt => "", :src => "/assets/random-project.png"}
        .overlay
          .link-wrapper
            %a.view{:href => "#"}
            .separator
            %a.case{:href => "#"}
    %li
      %img{:alt => "", :src => "/assets/random-project.png"}
        .overlay
          .link-wrapper
            %a.view{:href => "#"}
            .separator
            %a.case{:href => "#"}
    %li
      %img.even{:alt => "", :src => "/assets/random-project.png"}
        .overlay
          .link-wrapper
            %a.view{:href => "#"}
            .separator
            %a.case{:href => "#"}

.divider

%section#our-clients
  %header.divider
    %h2 Our Clients
    = link_to portfolio_path, :class => "blue-arrow" do
      See Our Portfolio
      .arrow

  %ul.divider
    -# repeating series of small squares with client logos in them
    -# all logos must be 100px in height and <= 150px wide - please see home.css.scss for explanation
    - 2.times do
      - 6.times do |n|
        %li.tendril

  .divider
