%div#slider
  %div.slide.first-slide
    #blueprint-wrapper
      = link_to "", "#", :class => :point1
      = link_to "", "#", :class => :point2
      = link_to "", "#", :class => :point3
      = link_to "", "#", :class => :point4
      = image_tag "blueprint.png"
    %h1
      FROM IDEA TO EXECUTION
    %p
      Here at Coshx we take complex problems and turn them into simple solutions.
      %br/
      Our highly skilled team of programmers and designers will take your product to the next level.
      %br/
      We love sending those rockets to the moon - why not let us launch a rocket of a product for you?
      .divider

      = link_to "#", :class => "blue-arrow" do
        Read About How We Craft Software
        .arrow

  %div.slide	
    = image_tag "blueprint.png"
  %div.slide
    = image_tag "blueprint.png"

%script(type="text/javascript")
  $(document).ready ( function () {
  $('#slider').orbit({
  animation: 'horizontal-push',                  // fade, horizontal-slide, vertical-slide, horizontal-push
  animationSpeed: 800,                // how fast animtions are
  timer: false, 			 // true or false to have the timer
  resetTimerOnClick: false,           // true resets the timer instead of pausing slideshow progress
  advanceSpeed: 4000, 		 // if timer is enabled, time between transitions 
  pauseOnHover: false, 		 // if you hover pauses the slider
  startClockOnMouseOut: false, 	 // if clock should start on MouseOut
  startClockOnMouseOutAfter: 1000, 	 // how long after MouseOut should the timer start again
  directionalNav: true, 		 // manual advancing directional navs
  captions: true, 			 // do you want captions?
  captionAnimation: 'fade', 		 // fade, slideOpen, none
  captionAnimationSpeed: 800, 	 // if so how quickly should they animate in
  bullets: false,			 // true or false to activate the bullet navigation
  bulletThumbs: false,		 // thumbnails for the bullets
  bulletThumbLocation: '',		 // location from this file where thumbs will be
  afterSlideChange: function(){}, 	 // empty function    fluid: true       // or set a aspect ratio for content slides (ex: '4x3') 
  });});



.divider

%div#features.row
  %div.feature.four.columns
    = image_tag "people.png", :class => :people
    = render :partial => "coshx_blue_x", :locals => {:feature => "COMPANY"}
    %p Meet the team, find out why we're different - and why you should hire us to work your next website or other software project.
    = link_to about_path, :class => "blue-arrow" do
      About Us
      .arrow
  %div.feature.four.columns
    = image_tag "services.png", :class => :gears
    = render :partial => "coshx_blue_x", :locals => {:feature => "SERVICES"}
    %p Whether you're an established enterprise or a boostrapping startup, we want to work with you. Take a look at the services we offer.
    = link_to services_path, :class => "blue-arrow" do
      Our Services
      .arrow
  %div.feature.four.columns
    = image_tag "projects.png", :class => :beaker
    = render :partial => "coshx_blue_x", :locals => {:feature => "PROJECTS"}
    %p We've been fortunate enough to work on many great projects. Here's some highlights of the work we've done.
    = link_to portfolio_path, :class => "blue-arrow" do
      Our Projects
      .arrow

.divider

%section#contact-us
  = image_tag "mail.png"
  %h2 DON'T BE SHY, SAY HELLO

  %p Let's start up a conversation about what your needs are and how we can help. We're just a quick email away!

  -# Normally we'd use mail_to and not link_to for an email link, but this will eventually open a form, not be a mailto
  = link_to "mailto:info@coshx.com", :class => ["first", "blue-arrow"] do
    Contact Us
    .arrow

  = link_to "mailto:info@coshx.com?subject=Coshx%20Labs%20quote%20request", :class => "white-arrow" do
    Request a FREE Quote
    .arrow


= render :partial => "featured_projects/list", :locals => {:featured_projects => @featured_projects}
  

.divider

%section#our-clients
  %header.divider
    %h2 Our Clients
    = link_to portfolio_path, :class => "blue-arrow" do
      See Our Portfolio
      .arrow

  %ul.divider
    -# repeating series of small squares with client logos in them
    -# all logos must be 100px in height and <= 150px wide - please see home.css.scss for explanation
    - 2.times do
      - 6.times do |n|
        %li.tendril

  .divider
