= render :partial => "home/slider"


.divider

%div#features.row
  %div.feature.four.columns
    = image_tag "people.png", :class => :people
    = render :partial => "coshx_blue_x", :locals => {:feature => "COMPANY"}
    %p{editable("company_overview")}
      =content("company_overview")
    = link_to about_path, :class => "a-button" do
      About Us
  %div.feature.four.columns
    = image_tag "services.png", :class => :gears
    = render :partial => "coshx_blue_x", :locals => {:feature => "SERVICES"}
    %p{editable("services_overview")}
      =content("services_overview")
    = link_to services_path, :class => "a-button" do
      Our Services
  %div.feature.four.columns
    = image_tag "projects.png", :class => :beaker
    = render :partial => "coshx_blue_x", :locals => {:feature => "PROJECTS"}
    %p{editable("projects_overview")}
      =content("projects_overview")
    = link_to projects_path, :class => "a-button" do
      Our Projects

.divider

%section#contact-us
  = image_tag "mail.png"
  %h2{editable("frontpage_contact_header")}
    =content("frontpage_contact_header")

  %p{editable("frontpage_contact_text")}
    =content("frontpage_contact_text")

  -# Normally we'd use mail_to and not link_to for an email link, but this will eventually open a form, not be a mailto
  = link_to "mailto:info@coshx.com", :class => ["first", "a-button"] do
    Contact Us

  = link_to "mailto:info@coshx.com?subject=Coshx%20Labs%20quote%20request", :class => "a-button white" do
    Request a FREE Quote


= render :partial => "projects/list", :locals => {:featured_projects => @featured_projects}
  

.divider

=# render :partial => "clients/list", :locals => {:clients => @clients}
= render 'get_a_proposal'

.divider
