%section#blueprint-image
  #blueprint-wrapper
    = link_to "", "#", :class => :point1
    = link_to "", "#", :class => :point2
    = link_to "", "#", :class => :point3
    = link_to "", "#", :class => :point4
    = image_tag "blueprint.png"

  %h1
    FROM IDEA TO EXECUTION
  %p
    Here at Coshx we take complex problems and turn them into simple solutions. Our highly skilled team of programmers and designers will take your product to the next level. We love sending those rockets to the moon - why not let us launch a rocket of a product for you?

  .divider

  =link_to "Read about how we build for the web", "#", :class => "blue-arrow"

.divider

%section#features
  %ul.divider
    %li
      = image_tag "people.png"
      %h2
        COSH
        %span.blue> X
        LABS
        %br>/
        COMPANY
      %p Meet the team, find out why we're different - and why you should hire us to work your next website or web application project.
      = link_to "About Us", "#", :class => "blue-arrow"
    %li
      = image_tag "services.png"
      %h2
        COSH
        %span.blue> X
        LABS
        %br>/
        SERVICES
      %p Meet the team, find out why we're different - and why you should hire us to work your next website or web application project.
      = link_to "Our Services", "#", :class => "blue-arrow"
    %li
      = image_tag "projects.png"
      %h2
        COSH
        %span.blue> X
        LABS
        %br>/
        PROJECTS
      %p Meet the team, find out why we're different - and why you should hire us to work your next website or web application project.
      = link_to "Our Projects", "#", :class => "blue-arrow"

.divider

%section#contact-us
  = image_tag "mail.png"
  %h2 DON'T BE SHY, SAY HELLO

  %p Meet the team, find out why we're different - and why you should hire us to work on your next website or web application project.

  = link_to "Contact Us", "#", :class => ["first", "blue-arrow"]
  = link_to "Request a FREE Quote", "#", :class => "blue-arrow"

%section#featured-projects
  %header.divider
    %h2 Featured Projects
    = link_to "See More Case Studies", "#", :class => "blue-arrow"
  %ul.divider
    %li
      = image_tag "random-project.png"
    %li
      = image_tag "random-project.png"
    %li
      = image_tag "random-project.png"
    %li
      = image_tag "random-project.png"

.divider

%section#our-clients
  %header.divider
    %h2 Our Clients
    = link_to "See Our Portfolio", "#", :class => "blue-arrow"

  %ul.divider
    -# repeating series of small squares with client logos in them
    -# all logos must be 100px in height and <= 150px wide - please see home.css.scss for explanation
    - 2.times do
      - 6.times do |n|
        %li
          - if n % 2 == 0
            = image_tag "temp_images/kovsky_client.png"
          - else
            = image_tag "temp_images/ryan_client.png"

  .divider
