%section#blueprint-image
  = image_tag "temp_images/rocket.png"
%section#tagline
  %h1
    FROM IDEA TO EXECUTION
  #tagline-body
    Here at Coshx we take complex problems and turn them into simple solutions. Our highly skilled team of programmers and designers will take your product to the next level. We love sending those rockets to the moon - why not let us launch a rocket of a product for you?

  .clearfix

  #how-we-build.button-link
    %a{:href => "#"} Read about how we build for the web

.clearfix

.divider

#features
  %section#startups
    %article
      = render :partial => "coshx_blue_x", :locals => {:feature => "COMPANY"}
      %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      .button-link
        %a{:href => "#"}About us

  %section#enterprise.middle
    %article
      = render :partial => "coshx_blue_x", :locals => {:feature => "SERVICES"}
      %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      .button-link
        %a{:href => "#"}Our services

  %section#you
    %article      
      = render :partial => "coshx_blue_x", :locals => {:feature => "PRODUCTS"}
      %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      .button-link
        %a{:href => "#"}Our projects

.clearfix

.divider

%section#contact-us
  #envelope
    = image_tag "temp_images/envelope.png"
  .section-title
    DON'T BE SHY, SAY HELLO
  #contact-body
    Meet the team, find out why we're different - and why you should hire us to work on your next website or web application project.
  #contact-links
    .button-link
      %a{:href => "#"}Contact us
    .white-button-link
      %a{:href => "#"}Request a FREE Quote

%section#featured-projects
  .header
    = image_tag "temp_images/star.png"
    %span.section-title
      FEATURED PROJECTS
    .case-studies-link
      .button-link
        %a{:href => "#"}See more Case Studies
  .section-content
    -# repeating series of large rectangular sections with images of projects
    .featured-project
      great project 1
    .featured-project
      great project 2
    .featured-project
      great project 3
    .featured-project
      great project 4


%section#our-clients
  .section-title
    Our Clients
  .portfolio-link
    .button-link
      See our portfolio
  .section-content
    -# repeating series of small squares with client logos in them
    .client-logo
      ABC Corp
    .client-logo
      SomethingCo
    .client-logo
      Hot Startup
    .client-logo
      Cool Startup
    .client-logo
      MegaCorpDeluxe

%section#blog-posts
  #blog-return-arrow
    ▲
  .section-title
    Latest Blog Posts
  .section-content
    -# load the two most recent blog entries and display here
    %article.blog-post
      .author
        .author-image
          \:)
        .author-name
          David Kovsky
        .author-date
          April 9, 2012
      .blog-post-content
        %header.blog-title
          Removing Technical Debt
        .blog-body
          I had a great time at the Mile High Agile 2012...
      %footer.blog-footer
        .read-more
          %a.read-more{:href => "#"}
            Read More
          |
          %a.comments{:href => "#"}
            Comments: 1

    %article.blog-post
      .author
        .author-image
          \:)
        .author-name
          Ryan Ahearn
        .author-date
          April 6, 2012
      .blog-post-content
        %header.blog-title
          Polymorphic Associations and validate_uniqueness_of
        .blog-body
          One of my favorite helper libraries when testing is...
      %footer.blog-footer
        .read-more
          %a.read-more{:href => "#"}
            Read More
          |
          %a.comments{:href => "#"}
            Comments: 2

  #twitter-feed
    .twitter-bird
      chirp
    .angle-flash
      >
    #latest-tweet
      Checkout David Kovsky's blog post on...
    .follow-us
      .button-link
        Follow us


