%section.primary
  %h2 Portfolio
  %h3 We love our clients and do whatever it takes to make them successful. Here's a sampling of some people we've been fortunate enough to work with.

  %ul
    - @clients.each do |client|
      %li.stretch-container
        .stretch-small-offset
          .client-logo
            = image_tag "client_logos/#{client.company_logo}"
          .client-name
            = link_to client.site_url, client.name
          - if client.quote
            .client-quote
              「
              = client.quote
              」
            .client-quote-sayer
              = "- #{client.quoted_person}"
          - else
            .what-we-did
              = client.what_we_did

