%h1.centre WE ARE ALL ABOUT THE WEB
%p.graytext.centre Let's start up a conversation about what you need and how we can help. We're just a quick email away!

.short-white-line

.row
  .services_box
    =image_tag("services/circles.png")
    %a.circle.circle0
      .icon.idea-icon
    %a.circle.circle1
      .icon.books-icon
    %a.circle.circle2
      .icon.design-icon
    %a.circle.circle3
      .icon
    %a.circle.circle4
      .icon.develop-icon
    %a.circle.circle5
      .icon.produce-icon
    %a.middle
      .icon.process-icon

.row
  %h2.star-header
    Web Development

.services
  .row
    .two.columns
      %a.circle
        .icon.one-icon

    .ten.columns
      = ceditable "services 11", "h5"
      = ceditable "services 12", "p"
  .row
    .two.columns
      %a.circle
        .icon.two-icon
    .ten.columns
      = ceditable "services 13", "h5"
      = ceditable "services 14", "p"
  .row
    .two.columns
      %a.circle
        .icon.three-icon
    .ten.columns
      = ceditable "services 15", "h5"
      = ceditable "services 16", "p"

  .row
    .two.columns
      %a.circle
        .icon.four-icon
    .ten.columns
      = ceditable "services 21", "h5"
      = ceditable "services 22", "p"
  .row
    .two.columns
      %a.circle
        .icon.five-icon
    .ten.columns
      = ceditable "services 23", "h5"
      = ceditable "services 24", "p"
  .row
    .two.columns
      %a.circle
        .icon.six-icon
    .ten.columns
      = ceditable "services 25", "h5"
      = ceditable "services 26", "p"

= render 'get_a_proposal'
