#our-approach-header
  %h1 Our Approach
  %h2 Our process is highly iterative and focused on the needs of your business and its customers. Technology exists for the people who use it, and we never forget that.
#step
  .text{ :style => "float: right;"}
    %h1 Pleased to Meet You
    %h4 Your vision matters most, and we want to learn about it while getting to know you and your business needs. We are not faceless mercenaries, but a talented team of superheroes that wants to help our clients succeed.
  .icon{ :style => "float: left;"}
    = image_tag("handshake.png")
#step
  .text{ :style => "float: left;"}
    %h1 Planning Session
    %h4 Furious whiteboarding and challenged ideas will lead to a sketch of your idea while generating a set of user stories, which are your entire application in written form. We will use these to prioritize your needs, estimate your cost and get cracking on the code.
  .icon{ :style => "float: right;"}
    = image_tag("planning.png")
#step
  .text{ :style => "float: right;"}
    %h1 Design
    %h4 Design is where form and function meet. Tools are only as powerful as one’s ability to use them, and we will work together to design intuitive, powerfully simple applications. Our designers are artists, and our developers are craftsmen. Your software will look as good as it feels.
  .icon{ :style => "float: left;"}
    = image_tag("planning.png")
#step
  .text{ :style => "float: left;"}
    %h1 Minimum Viable Product
    %h4 Everything comes together in your Minimum Viable Product. We will get this into the hands of users in order to learn from their interactions and the data they generate. This saves you money by taking the guesswork out of development. We will crunch the numbers and sweat the technical details to keep you on the path to profitability.
  .icon{ :style => "float: right;"}
    = image_tag("mvp.png")
#step
  .text{ :style => "float: left;"}
    %h1 Iterate
    %h4 You have users, revenue and an appetite for more. Lessons learned will be turned into improved functionality and a better, stronger application, capturing more users along the way. Perhaps you are ready to hire your own tech team, and we will proudly hand you off like parents at the first day of school…but you will always have a room in our pages.
  .icon{ :style => "float: right;"}
    = image_tag("iterate.png")


= render "shared/contact_us_banner"