= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :tagline
      = f.text_field :tagline
    .field
      = f.label :url
      = f.text_field :url
    .field
      = f.label :background_color
      = f.text_field :background_color
    .field
      = f.label :product_description
      = f.text_area :product_description
    .field
      = f.label :project_description
      = f.text_area :project_description
    .field
      = f.label :result_description
      = f.text_area :result_description
    .field
      = f.label :featured
      = f.check_box :featured
    .field
      = f.label :link_disabled
      = f.check_box :link_disabled
  .row{:style => "padding-top: 50px"}
    %h3 Save Project:
    .actions
      = f.submit 'Save Project'
