= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :featured
    = f.check_box :featured
  .images
    = image_tag(@project.picture_url) if @project.picture?
    = f.file_field :picture
    Remove picture
    = f.check_box :remove_picture
  .actions
    = f.submit 'Save'

= render :partial => 'quotes/list', :locals => {:project => @project}
