= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  %br
  %br
  = f.submit 'Save Project'
  = f.text_field :location_id, :placeholder => "location number"
  = f.text_field :title, :required => true, :placeholder => "Title"
  = f.text_field :permalink, :placeholder => "Permalink title (title with no whitespace)"
  = f.text_field :icon, :required => true, :placeholder => "Image URL for project icon"
  = f.text_field :background_color, :placeholder => "Hex designation for background color (eg, #FFFFFF) for white"
  = f.text_field :client_name, :placeholder => "name of client or product owner representative"
  = f.text_field :url, :placeholder => "Client website"
  = f.text_area :summary, :placeholder => "Short summary"
  = f.text_area :description, :placeholder => "Full description"
  = f.submit 'Save Project'
