#tagline{:style => "background-color: #{@project.background_color}"}
  %h3
    = @project.tagline
    = image_tag (@project.picture.to_s), :id => "laptop_image"
    = link_to "", @project.previous, :id => "page_arrow", :class => "prev"
    = link_to "", @project.next, :id => "page_arrow", :class => "next"

%div#case-study-middle-row{:style => "background-color: #{@project.background_color}"}

#case-study-steps
  .row
    %h3 The Product
    %h4
      = @project.product_description
  .row
    %h3 The Project
    %h4
      = @project.project_description
  .row
    %h3 The Results
    %h4
      = @project.result_description
  .row
    - unless @project.url.nil?
      = link_to "view the site", @project.url, :target => "_blank", :class => "btn blue center top-padding top-margin-small", :method => :get

- if admin_signed_in?
  = link_to "Edit", edit_project_path(@project)
