#tagline{:style => "background-color: #{@project.background_color}"}
	.row
		%h3 
			= @project.tagline
		= image_tag(@project.picture.to_s)
%div#case-study-middle-row

#case-study-steps
	.row
		%h3 The Product
		%h4 
			= @project.product_description
	.row
		%h3 The Project
		%h4 
			= @project.project_description
	.row
		%h3 The Results
		%h4 
			= @project.result_description
	.row
		- if @project.link_disabled?
			= button_to "view the site", @project.url, :class => "btn light-grey center top-margin-small", :disabled => true, :method => :get
		- else
			= link_to "view the site", @project.url, :target => "_blank", :class => "btn blue center top-padding top-margin-small", :method => :get

