#case-study-banner{:style => "background-color: #{@project.background_color}"}
  .helper
  = image_tag (@project.icon.to_s)

#case-study-details
  #title.row
    %h2= @project.title.html_safe
  #summary.row
    %h5= @project.summary.html_safe
  #client-name.row
    %h5= @project.client_name.html_safe
  %br
  .row
    %h5= @project.description.html_safe
  .row
    - unless @project.url.nil? || @project.url.empty?
      %br
      = link_to "view the site", @project.url, :target => "_blank", :id => "view-the-site", :class => "btn"


%center
  - if admin_signed_in?
    = link_to "Edit", edit_project_path(@project)
    = link_to 'Destroy', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }