#tagline{:style => "background-color: #{@project.background_color}"}
  %h3
    = @project.tagline
    = image_tag (@project.icon.to_s), :id => "laptop_image"

%div#case-study-middle-row{:style => "background-color: #{@project.background_color}"}

#case-study-steps
  .row
    %h4
      = @project.description
  .row
    - unless @project.url.nil? || @project.url.empty?
      = link_to "view the site", @project.url, :target => "_blank", :class => "btn blue center top-padding top-margin-small", :method => :get
%center
  - if admin_signed_in?
    = link_to "Edit", edit_project_path(@project)
    = link_to 'Destroy', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }


