= form_for @post, :html => { :class => "internal" } do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :title, :placeholder => "Post Title"
  = f.text_area :body, :placeholder => "Post Content"
  = f.submit "Save"
