.post-show
	.row
		#post-text
			%h1= post.title
	    
			%h2
				Written by
				= link_to post.author.name, by_author_path(post.author.slug)
				on
				= post.created_at.strftime("%B %d, %Y")
			.post-content
				= post.body_html.html_safe
	.row#more-by-author
		.column.two
			%a{:href => about_path, :class => 'about-us-avatar'}(style="background:url(#{Gravatar.new(post.author.email).image_url(:size => 80)});")
		.column.ten
			%h2 
				More posts by 
				= link_to post.author.name, blog_posts_path(:author_id => post.author_id)