= content_tag_for :article, post do
  %header
    %h2=post.title
    .meta
      %time{:pubdate => 'true', :datetime => post.timestamp.iso8601}
        #{post.date.strftime '%e %B %Y'}
      %span
        by
        = post.author
  - if summary
    = post.summary_html
    %p.more= link_to 'Read more&hellip;'.html_safe, post
  - else
    ~ post.content_html
