.all-posts
  - @posts.each do |p|
    .row
      #post-description
        - year = (p.posted_on.present? ? p.posted_on.strftime("%Y") : p.created_at.strftime("%Y"))

        - link_text = p.title

        - if p.published?
          %h3= link_to link_text.html_safe, show_post_path(p.permalink_attributes), :title => "Read More"
          %h2
            Written by
            = link_to p.author.name, blog_posts_path(:author_id => p.author_id)
            on
            = p.created_at.strftime("%B %d, %Y")



        - else
          %h1 
            = link_to link_text.html_safe, p, :title => 'Not Yet Published'
        - if admin_signed_in?
          .edit-link
            = link_to 'Edit', edit_post_path(p)
            = link_to("Publish", publish_post_path(p), :method => :put) unless p.published?
  .row#pages
    = paginate @posts