#image_index
  %h1 Listing images

= link_to 'Create New Image', new_image_path
%br
%br
my images
%br
%br
- @images[:my].each do |image|
  #itemized_image
    #image
      = link_to image_tag(image.paperclip.url), image
    %ul
      %li=  image.paperclip.url
      %br
      %li= link_to 'Edit', edit_image_path(image)
      %li= link_to 'Remove', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%br
%hr
team images
- @images[:team].each do |image|
  #itemized_image
    #image
      = link_to image_tag(image.paperclip.url), image
    %ul
      %li=  image.paperclip.url
