#footer
  #footer-logo.link
    = link_to image_tag("logo_without_icon.png"), root_path
  #footer-blog.link
    = link_to "Our&nbsp;Blog".html_safe, blog_posts_path, active_tab("#{blog_posts_path}$").merge({title: "Blog"})
  .link
    = link_to "Twitter","https://twitter.com/coshxlabs",:target => "_blank"
  .link
    = link_to "Facebook", "https://www.facebook.com/CoshxLabs",:target => "_blank"

