%footer.clearfix
  #footer-nav
    %a{:href => "#top"}
      = image_tag "footer_top_nav.png"
  %section#footer-content.w960.clearfix
    %h2 Latest blog posts
    #latest-blogs.divider
      .post.first
        .info
          = image_tag "kovsky.png"
          %span
            = link_to last_two_posts[0].author.name, "#"
            %br/
            = last_two_posts[0].posted_on.strftime("%B %e, %Y")
        .content
          %h2
            = link_to last_two_posts[0].title, last_two_posts[0]
          %p
            = preserve last_two_posts[0].body_html.html_safe
          .links
            = link_to "Read more", last_two_posts[0], :class => "read-more"
            |
            %a.comments{:href => "#{polymorphic_url(last_two_posts[0])}#disqus_thread"}
      .post
        .info
          = image_tag "ryan.png"
          %span
            = link_to last_two_posts[1].author.name, "#"
            %br/
            = last_two_posts[1].posted_on.strftime("%B %e, %Y")
        .content
          %h2
            = link_to last_two_posts[1].title, last_two_posts[1]
          %p
            = preserve last_two_posts[1].body_html.html_safe
          .links
            = link_to "Read more", last_two_posts[1], :class => "read-more"
            |
            %a.comments{:href => "#{polymorphic_url(last_two_posts[1])}#disqus_thread"}
  #footer-tweet.divider
    %p
      Currently unable to loading Twitter stream...
    %a.dark-blue-arrow{:href => "https://www.twitter.com/coshxlabs"} Follow us
  %h2.contact-heading ONLY ONE THING LEFT TO DO. CONTACT US USING YOUR PREFERRED METHOD BELOW.
  #contact-details.divider
    .col1
      %strong Tel:
      007-042-1408
      %br/
      %strong Fax:
      007-042-1409
      %br/
      %strong Email:
      %a#contact-email{:href => "#"} info@cosxh.com
      %br/
    .col2
      %strong Charlottesville
      %br/
      1110 Market Street East
      %br/
      Suite N7
      %br/
      Charlottesville, VA 22903
    .col3
      %strong Boulder
      %br/
      3080 Valmont Road
      %br/
      Suite 280
      %br/
      Boulder
      %br/
      CO 80301
    .col4
      CONSIDERING COSHX FOR
      %br/
      YOUR NEXT PROJECT?
      %a.blue-arrow{:href => "#"} Get a proposal
  .footer-bottom
    %span.copy Copyright © 2012 CoshxLabs. All rights reserved
    \•
    %span.links
      %a{:href => root_path} Home
      |
      %a{:href => about_path} About
      |
      %a{:href => portfolio_path} Projects
      |
      %a{:href => services_path} Services
      |
      %a{:href => "#"} Contact
