%footer.container
  %div.row.footer-content
    %a.footer-gotop-ribbon{:href => '#top', :id => "top-nav"}
    %h2.blogpost Latest blog posts
    -unless last_two_posts[0].nil? && last_two_posts[1].nil?
      #latest-blogs.row
        - last_two_posts.each do |post|
          .six.column.post
            .row
              .three.columns.mobile-one
                %div.post_pic(style="width:74px;height:74px;background:url(#{Gravatar.new(post.author.email).image_url(:size => 74)});border-radius:100px;border: 4px solid white;")
                %span.post-info
                  = link_to post.author.name, "#"
                  %br/
                  = post.posted_on.strftime("%B %e, %Y")
                %div.small-line
              .content.nine.columns.mobile-three
                %h2
                  = link_to post.title, post
                %p
                  = preserve post.preview_html.html_safe
                .links
                  = link_to "Read more", post, :class => "read-more"
                  |
                  %a.comments{:href => "#{polymorphic_url(post)}#disqus_thread"}
       
    .row
      %h2.star-header
        %p Last tweets
        = link_to "https://www.twitter.com/coshxlabs", :class => "a-button darkblue" do
          Follow Us
    
    %h2.contact-heading{editable("contact heading")}
      =content("contact heading")
    %div.contact-details.row      
      .three.columns
        %strong Boulder
        %br/
        3080 Valmont Rd Suite 280
        %br/
        Boulder, CO 80301
      .three.columns
        %strong Charlottesville
        %br/
        1110 Market St East Suite N7
        %br/
        Charlottesville, VA 22902
      .three.columns
        %strong San Francisco
        %br/
        1211 Folsom Street, 3rd Floor
        %br/
        San Francisco, CA 94103
        %br/
        
      .three.columns
        CONSIDERING COSHX FOR
        %br/
        YOUR NEXT PROJECT?<br>
        = link_to contact_path(:anchor => "quote"), :class => "the-button" do
          Get a Proposal
    .footer-bottom
      %span.copy Copyright © 2012 Coshx Labs. All rights reserved
      \•
      %span.links
        %a{:href => root_path} Home
        |
        %a{:href => about_path} About
        |
        %a{:href => portfolio_path} Projects
        |
        %a{:href => services_path} Services
        |
        = link_to "Contact", contact_path
