%header#top-header
  .logo-banner
    %a#logo{:href => root_path}

    #ribbon
      = link_to image_tag("banner_twitter.png"), "https://www.twitter.com/coshxlabs"
      = link_to image_tag("facebook.png"), "#"

  %nav.divider#main
    %ul#nav-list
      %li= link_to "HOME", root_path
      %li= link_to "ABOUT US", about_path
      %li= link_to "OUR PROJECTS", portfolio_path
      %li= link_to "OUR SERVICES", services_path
      %li= link_to "OUR BLOG", blog_posts_path
      %li= link_to "CONTACT US", "#contact"
