//= link_to "CAREERS", jobs_path, :class => 'jobs'
#site-loader.loader{:style => "width: 100%; height: 3px; background-color: #fcb040;"}
#header-content.row

	%h1#logo
		%a{:href => root_path}

	%nav
		%ul#main-nav
			// = tab_to "HOME", root_path
			= tab_to "About us", about_path
			= tab_to "Our projects", projects_path
			= tab_to "Our services", services_path
			= tab_to "Blog", blog_posts_path
			= tab_to "Contact us", contact_path
			= tab_to "Careers", jobs_path
	  


//=render 'jobs/jobs'
