%header#top-header
  .logo-banner
    %a#logo{:href => "index.htm"}

    #ribbon
      = link_to image_tag("twitter.png"), "#"
      = link_to image_tag("facebook.png"), "#"

  %nav.divider#main
    %ul#nav-list
      %li= link_to "HOME", "#"
      %li= link_to "ABOUT US", :about
      %li= link_to "OUR PROJECTS", "#projects"
      %li= link_to "OUR SERVICES", :services
      %li= link_to "OUR BLOG", :blog_posts
      %li= link_to "CONTACT US", "#contact"
