#header-content.row

	%h1#logo
		%a{:href => root_path}

	%nav
		%ul#main-nav
			// = tab_to "HOME", root_path
			= tab_to "Get to know us", about_path
			= tab_to "Our results", projects_path
			= tab_to "Log book", blog_posts_path
			= tab_to "Careers", jobs_path
			= tab_to "Contact", contact_path
	  


//=render 'jobs/jobs'
