%div#site-links
  .row
    %h1 Want to start the conversation?
    %h2 Contact us #{link_to "here", contact_path}, or #{link_to "get to know us", about_path}. You can read our thoughts along #{link_to "the journey", blog_posts_path} or look at our #{link_to "portfolio page", projects_path}. Want to join the team? Check for #{link_to "open positions", jobs_path}.

    = image_tag("heart.png")