!!! 5
%html
  %head
    %title Coshx Labs
    %meta{:name => "google-site-verification", :content => "GG9HzTQhQZszRRYo-W_el_Dh1LQs-3SQOuCzZS88FvI"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#canvas
      #header-wrapper
        %header
          #header-content
          %h1=link_to "coshx", :root, :id => "logo"
          %nav
            %ul
              %li=link_to "services", :services
              %li=link_to "our work", :work
              %li=link_to "our blog", :blog
              %li=link_to "about", :about
      #content-wrapper
        %section#content
          = yield
        #content-footer
      #footer-wrapper
        %footer
          %section#contact
            %h3 Contact Us
            %section#charlottesville
              %h4 Charlottesville
              %span#street-1 1110 Market Street East
              %span#street-2 Suite N7
              %span#city-state-zip Charlottesville, VA 22903
              %span#email cville@coshx.com
            %section#boulder
              %h4 Boulder
              %span#street-1 3080 Valmont Rd
              %span#street-2 Suite 280
              %span#city-state-zip Boulder, CO 80301
              %span#email boulder@coshx.com
          %section#links
            %h3 Links
            %ul
              %li=link_to "careers", :careers
              %li=link_to "news", :news
              %li=link_to "about", :about
              %li=link_to "blog", :blog
          %section#say-hello
            %h3 Say Hello
          