!!!
%html
  %head
    %title= title(params['controller'], params['action'])
    %meta{:name => "google-site-verification", :content => "GG9HzTQhQZszRRYo-W_el_Dh1LQs-3SQOuCzZS88FvI"}
    %meta{:charset => "UTF-8"}
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = render "shared/fonts"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %meta(content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" name="viewport")/
    = csrf_meta_tags
    = render "shared/google_analytics"
    = render "layouts/disqus_dev_mode" if Rails.env.development? || Rails.env.test?
    = auto_discovery_link_tag :atom, "/feed"
    = favicon_link_tag
    = render "shared/facebook_meta", :image => yield(:image), :description => yield(:description), :title => yield(:title)

  %body
    %header
      %div#site-header{class: current_page?('/') ? 'sticky-header' : 'fixed-header'}
        - if admin_signed_in?
          = render "layouts/admin_menu"
        = render "layouts/header"
    %div.container.main-container.body
      - if current_page?('/')
        %section.feature
          = render "layouts/top_section"
      - else
        #header-padding
      = yield
      - unless should_not_display_any_footer_info
        - unless should_not_display_site_links
          = render "layouts/site_links"
        - unless should_not_display_together_section
          = render "layouts/together"
        - if current_page?('/contact')
          #footer-with-map
            = render "layouts/footer"
        - else 
          = render "layouts/footer"
