!!! 5
%html
  %head
    %title Coshx Labs
    %meta{:name => "google-site-verification", :content => "GG9HzTQhQZszRRYo-W_el_Dh1LQs-3SQOuCzZS88FvI"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#canvas
      #header-wrapper
        %header
          #header-content
          %h1=link_to "coshx", :root, :id => "logo"
          %nav
            %ul
              %li=link_to "services", :services
              %li=link_to "our work", :work
              %li=link_to "our blog", :blog
              %li=link_to "about", :about
      #content-wrapper
        %section#content
          = yield
      #footer-wrapper
        %footer
          %section#contact
            %h3 Contact Us
          %section#links
            %h3 Links
          %section#say-hello
            %h3 Say Hello
          