!!! 5
%html
  %head
    %title Coshx Labs
    %meta{:name => "google-site-verification", :content => "GG9HzTQhQZszRRYo-W_el_Dh1LQs-3SQOuCzZS88FvI"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Syncopate"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#content-canvas
      #header-wrapper
        %header
          #header-content
          %h1=link_to "coshx", :root, :id => "logo"
          %nav
            %ul
              %li=link_to "services", :services
              %li=link_to "portfolio", :portfolio
              %li=link_to "about", :about
              %li=link_to "blog", :blog
      #content-wrapper
        %section#content
          = yield
        #content-footer
    %footer
      %section#contact
        %h3 Contact Us
        %section#charlottesville
          %h4 Charlottesville
          %span#street-1 1110 Market Street East
          %span#street-2 Suite N7
          %span#city-state-zip Charlottesville, VA 22903
          %span#email=link_to "info+cville@coshx.com", "mailto:info+cville@coshx.com"
        %section#boulder
          %h4 Boulder
          %span#street-1 3080 Valmont Rd
          %span#street-2 Suite 280
          %span#city-state-zip Boulder, CO 80301
          %span#email=link_to "info+boulder@coshx.com", "mailto:info+boulder@coshx.com"
      %section#careers
        %h3 Careers
        %p
          Interested in working at Coshx?
          %br
          Shoot us an email showing us what you're interested in, what you've accomplished, and why you want to join our team.
          %br
          = link_to "jobs@coshx.com", "mailto:jobs@coshx.com"