!!! 5
%html
  %head
    %title Coshx Labs
    %meta{:name => "google-site-verification", :content => "GG9HzTQhQZszRRYo-W_el_Dh1LQs-3SQOuCzZS88FvI"}
    = render "layouts/fonts"
    = stylesheet_link_tag "application"
    %link{:rel => "shortcut icon", :href => "logo.ico"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "layouts/google_analytics"
    = render "layouts/disqus_dev_mode" if Rails.env.development? || Rails.env.test?
    = auto_discovery_link_tag :atom, "/feed"
    = favicon_link_tag
  %body{:class => body_class}
    %section#content-canvas
      #header-wrapper
        - if admin_signed_in?
          = render "layouts/admin_menu"
        = render "layouts/header"
      #content-wrapper
        %section#content
          = yield
        #content-footer
    = render "layouts/footer"
