!!!
%html
  %head
    %title= title(params['controller'], params['action'])
    %meta{:name => "google-site-verification", :content => "GG9HzTQhQZszRRYo-W_el_Dh1LQs-3SQOuCzZS88FvI"}
    %meta{:charset => "UTF-8"}
    %link{:rel => "icon",:type => "image/png", :href => asset_path("favicon.png")}
    = render "shared/fonts"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %meta(content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" name="viewport")/
    %meta{content: "Coshx builds custom web and mobile applications for start-ups and established businesses using lean tactics, agile methodologies and test driven development.", name: "description"}/
    = csrf_meta_tags
    = render "shared/google_analytics"
    = render "shared/disqus_dev_mode" if Rails.env.development? || Rails.env.test?
    = render "shared/facebook_meta", :image => yield(:image), :description => yield(:description), :title => yield(:title)
  %body
    %header
      %div#site-header{class: 'fixed-header'}
        = render "layouts/header"
        - if admin_signed_in?
          = render "layouts/admin_menu"
    %div.container.main-container.body
      .flash
        = flash[:alert]
      = yield
      = render "layouts/footer"
